## translate to protein and blast

In [209]:
import subprocess
def translate(seq, frame=1): 
    # frame: 1 = start at pos 0; 2 = start at pos 1; 3 = start at pos 2
    table = { 
        'ATA':'I', 'ATC':'I', 'ATT':'I', 'ATG':'M', 
        'ACA':'T', 'ACC':'T', 'ACG':'T', 'ACT':'T', 
        'AAC':'N', 'AAT':'N', 'AAA':'K', 'AAG':'K', 
        'AGC':'S', 'AGT':'S', 'AGA':'R', 'AGG':'R',                  
        'CTA':'L', 'CTC':'L', 'CTG':'L', 'CTT':'L', 
        'CCA':'P', 'CCC':'P', 'CCG':'P', 'CCT':'P', 
        'CAC':'H', 'CAT':'H', 'CAA':'Q', 'CAG':'Q', 
        'CGA':'R', 'CGC':'R', 'CGG':'R', 'CGT':'R', 
        'GTA':'V', 'GTC':'V', 'GTG':'V', 'GTT':'V', 
        'GCA':'A', 'GCC':'A', 'GCG':'A', 'GCT':'A', 
        'GAC':'D', 'GAT':'D', 'GAA':'E', 'GAG':'E', 
        'GGA':'G', 'GGC':'G', 'GGG':'G', 'GGT':'G', 
        'TCA':'S', 'TCC':'S', 'TCG':'S', 'TCT':'S', 
        'TTC':'F', 'TTT':'F', 'TTA':'L', 'TTG':'L', 
        'TAC':'Y', 'TAT':'Y', 'TAA':'X', 'TAG':'X', 
        'TGC':'C', 'TGT':'C', 'TGA':'X', 'TGG':'W', 
    } 
    comp_dict = {'C':'G',
                 'G':'C',
                 'A':'T',
                 'T':'A'
                }
    protein = ''
    
    if frame == 1 :
        start_val = 0
    if frame == 2:
        start_val = 1
    if frame == 3:
        start_val = 2
    if frame == 4 :
        start_val = 0
    if frame == 5:
        start_val = 1
    if frame == 6:
        start_val = 2
    if frame > 3:
        seq = ''.join([comp_dict.get(x) for x in seq])
        
    for i in range(start_val, len(seq), 3): 
        try:
            codon = seq[i:i + 3] 
            protein+= table[codon] 
        except:
            break
    return protein

def fastq2protein(input_file, output_file, trim_n = 0):
    read_iter = {}
    iterator = 0
    entry_count = 0
    for line in open(input_file):
        iterator += 1
        position = iterator % 4
        read_iter[position] = line.strip()
        if position == 0:
            a = read_iter[1]
            b = read_iter[2]
            name = a[1:].split()[0]
            sequence = b[:len(b)-trim_n+1]
            
            name_1 = f'>{name}_fr1' + '\n'
            trans_seq_1 = translate(sequence, frame=1) + '\n'
            name_2 = f'>{name}_fr2' + '\n'
            trans_seq_2 = translate(sequence, frame=2) + '\n'
            name_3 = f'>{name}_fr3' + '\n'
            trans_seq_3 = translate(sequence, frame=3) + '\n'
            
            if entry_count == 0:
                write_code = 'w'
            else:
                write_code = 'a'
            with open(output_file, write_code) as f:
                for outline in [name_1,trans_seq_1,name_2,trans_seq_2,name_3,trans_seq_3]:
                    f.write(outline)
                    
            entry_count += 1

def run_blastp(input_fn, prot_ref, n_threads, ouput_fn):
    # run blast
    blast_cmd_list = ['blastp',
                      '-query',
                      input_fn,
                      '-db',
                      prot_ref,
                      '-task',
                      'blastp-fast',
                      '-matrix',
                      'BLOSUM45',
                      '-evalue',
                      '1000',
                      '-outfmt',
                      '"6 evalue qseqid sseqid staxids sscinames sskingdoms"',
#                       '-num_descriptions',
#                       '1',
#                       '-num_alignments',
#                       '1',
                      '-max_target_seqs',
                      '5',
                      '-num_threads',
                      f'{n_threads}',
                      '-out',
                      ouput_fn,
                     ]
    blast_cmd = ' '.join(blast_cmd_list)
    print(blast_cmd)
    subprocess.check_output(blast_cmd, shell=True, stderr=subprocess.STDOUT)

In [161]:
input_fq = '/mnt/ibm_lg/daniel_le/data/acoel/test_c3poa_pre/output_rev/1/OligodT_ISPCR_Cell_Barcode_11_UMI/R2C2_raw_reads.fastq'
output_fa = '/mnt/ibm_lg/daniel_le/data/acoel/test_c3poa_pre/blastout/OligodT_ISPCR_Cell_Barcode_11_UMI_translate.fa'
fastq2protein(input_fq, 
              output_fa,
              trim_n = 100
             )

In [163]:
prot_ref = '/mnt/ibm_lg/daniel_le/data/blastdb/nr'
# prot_ref = '/mnt/ibm_lg/daniel_le/data/longreads/proteome/UP000005640_9606.fasta'
input_fn = '/mnt/ibm_lg/daniel_le/data/acoel/test_c3poa_pre/blastout/test.fa'
n_threads = 2
ouput_fn = '/mnt/ibm_lg/daniel_le/data/acoel/test_c3poa_pre/blastout/test_blastout.tsv'
run_blastp(input_fn, prot_ref, n_threads, ouput_fn)

blastp -query /mnt/ibm_lg/daniel_le/data/acoel/test_c3poa_pre/blastout/test.fa -db /mnt/ibm_lg/daniel_le/data/blastdb/nr -task blastp-fast -matrix BLOSUM45 -evalue 1000 -outfmt "6 evalue qseqid sseqid staxids sscinames sskingdoms" -max_target_seqs 5 -num_threads 2 -out /mnt/ibm_lg/daniel_le/data/acoel/test_c3poa_pre/blastout/test_blastout.tsv

## cat c3poa outputs

In [ ]:
# cat results of c3poa
import glob, tqdm, os, shutil
output_dir = '/mnt/ibm_lg/daniel_le/data/acoel/test_c3poa_pre/output_rev/merged/'

if os.path.exists(output_dir):
    shutil.rmtree(output_dir)
os.mkdir(output_dir)

partitions = glob.glob('/mnt/ibm_lg/daniel_le/data/acoel/test_c3poa_pre/output_rev/*/')
BC_dict = {}
for partition in tqdm.tqdm(partitions):
    BCs = glob.glob(f'{partition}*/')
    for BC in BCs:
        target = BC.split(partition)[1][:-1]
        source = f'{BC}R2C2_raw_reads.fastq'
        with open(f'{output_dir}{target}.fq', 'a') as outfile:
            try:
                with open(source, 'r') as infile:
                    for line in infile:
                        outfile.write(line)
            except:
                pass

 41%|████      | 693/1695 [08:31<13:23,  1.25it/s]

## create consensus sequence

In [62]:
import subprocess, glob, multiprocessing, os
def run_spoa(fq):
    dest_root = '/'.join(fq.split('/')[:-1]) + '/cns.txt'
    if not os.path.exists(dest_root):
        cmnd = f'spoa {fq}'
        try:
            output = subprocess.check_output(
                cmnd,
                shell=True
            )
            with open(dest_root, 'w') as fout:
                fout.write(output.decode("utf-8"))
        except subprocess.CalledProcessError as exc:
            print("Status : FAIL", exc.returncode, exc.output)
    else:
        pass

In [63]:
# run_spoa(fq_list[50])

In [28]:
# get all fq paths for parallel spoa
fq_dirs = glob.glob('/mnt/ibm_lg/daniel_le/data/acoel/test_c3poa_pre/onclust_output/correction/*/')
fq_list = [x + 'corrected_reads.fastq' for x in fq_dirs]

In [70]:
def parallel_spoa(fq_list, n_proc=1):
    p = multiprocessing.Pool(processes=n_proc)
    try:
        p.map(run_spoa, fq_list)
    finally:
        p.close()
        p.join()

In [ ]:
parallel_spoa(fq_list, n_proc=32)

### trim rattle fasta

In [99]:
fastaf = '/mnt/ibm_lg/daniel_le/data/acoel/test_rattle/cns/transcriptome.fa'
trimmedfa = '/mnt/ibm_lg/daniel_le/data/acoel/test_rattle/cns/transcriptome_10plus.fa'

with open(trimmedfa, 'w') as fout:
    with open(fastaf, 'r') as fin:
        line_counter = 1
        entry_dict = {}
        
        for line in fin:    
            position = line_counter % 2
            entry_dict[position] = line.strip()
            if position == 0:
                header = entry_dict.get(1)
                header_split = header.split()
                tot_read = int(header_split[2].split('=')[1])
                seq = entry_dict.get(0)       
                if tot_read > 10:
                    fout.write(header + '\n' + seq + '\n')

            line_counter += 1

### stats of aln

In [210]:
import pysam
import pandas as pd
import numpy as np

samfile = pysam.AlignmentFile("/mnt/ibm_lg/daniel_le/data/acoel/test_minimap2/aln/tri_aln.sorted.bam", "r")
query_list = []
ref_list = []
for read in samfile:
    query_list.append(read.query_name)
    ref_list.append(samfile.get_reference_name(read.reference_id))
    
samfile.close()
pysam_df = pd.DataFrame({'cluster':query_list, 'ref':ref_list})
print('mapped clusters', len(pysam_df.dropna()))

pysam_df = pysam_df.replace(np.nan, '-')
pysam_df['algae'] = [x.startswith('T') for x in pysam_df['ref']]
print('algae reads', len(pysam_df[pysam_df['algae'] == True]))

mapped clusters 2800
algae reads 1984

In [216]:
samfile = pysam.AlignmentFile("/mnt/ibm_lg/daniel_le/data/acoel/test_minimap2/aln/tri_aln.sorted.bam", "rb")
contigs = []
mappeds = []
unmappeds = []
totals = []
for line in samfile.get_index_statistics():
    contigs.append(line[0])
    mappeds.append(line[1])
    unmappeds.append(line[2])
    totals.append(line[3])
    
df = pd.DataFrame({'contig':contigs,
                   'mapped':mappeds,
                   'unmapped':unmappeds,
                   'total':totals
                  })
    
samfile.close()

df['genome'] = [x[:2] for x in df.contig]
genome_dict = {'sc':'acoel',
               'SM':'worm',
               'Te':'algae'
              }
df['genome'] = df['genome'].map(genome_dict)
display(df.groupby('genome')['mapped'].sum(),
        df.groupby('genome')['mapped'].sum()/df.groupby('genome')['mapped'].sum().sum()
       )

genome
acoel     274
algae    1984
worm      542
Name: mapped, dtype: int64

genome
acoel    0.097857
algae    0.708571
worm     0.193571
Name: mapped, dtype: float64

### parse blast results

In [305]:
blast_in = '/mnt/ibm_lg/daniel_le/data/acoel/test_iterative_rattle/blast/1/q1.out'
blast_df = pd.read_csv(blast_in, delimiter='\t', header = None)
blast_df.columns = ['evalue','qcov','cluster','ssid', 'taxid', 'sci_name', 'common_name', 'blast_name', 'kingdom', 'stitle']

blast_df.query('cluster == "cluster_5"')
# blast_df = (pd.DataFrame(blast_df.groupby('cluster')['blast_name'].value_counts())
#       .rename(columns = {'blast_name':'count'})
#       .reset_index()
#       .sort_values('count', ascending=False)
#       .groupby('cluster')
#       .head(1)
#      )
# blast_df
# blast_df['algae'] = [x=='green algae' for x in blast_df['blast_name']]

# print('proportion of algae')
# display(blast_df['algae'].value_counts() / blast_df['algae'].value_counts().sum())

,evalue,qcov,cluster,ssid,taxid,sci_name,common_name,blast_name,kingdom,stitle
2679,2.280000e-09,7,cluster_5,emb|CDS30780.1|,85433,Hymenolepis microstoma,Hymenolepis microstoma,flatworms,Eukaryota,expressed protein [Hymenolepis microstoma]
2680,8.420000e-09,10,cluster_5,ref|XP_018645333.1|,6183,Schistosoma mansoni,Schistosoma mansoni,flatworms,Eukaryota,hypothetical protein Smp_177580 [Schistosoma m...
2681,1.330000e-08,7,cluster_5,emb|VDP19577.1|,48269,Schistosoma margrebowiei,Schistosoma margrebowiei,flatworms,Eukaryota,unnamed protein product [Schistosoma margrebow...
2682,2.140000e-08,7,cluster_5,emb|CDI96790.2|,6211,Echinococcus multilocularis,Echinococcus multilocularis,flatworms,Eukaryota,rRNA promoter binding protein [Echinococcus mu...
2683,4.210000e-08,7,cluster_5,emb|CUT99815.1|,6211,Echinococcus multilocularis,Echinococcus multilocularis,flatworms,Eukaryota,rRNA promoter binding protein [Echinococcus mu...
...,...,...,...,...,...,...,...,...,...,...
2843,8.500000e+00,8,cluster_5,emb|CDW61027.1|,36087,Trichuris trichiura,human whipworm,nematodes,Eukaryota,hypothetical protein TTRE_0000944101 [Trichuri...
2844,8.600000e+00,8,cluster_5,emb|CDW60997.1|,36087,Trichuris trichiura,human whipworm,nematodes,Eukaryota,hypothetical protein TTRE_0000940701 [Trichuri...
2845,8.900000e+00,8,cluster_5,emb|CDW60818.1|,36087,Trichuris trichiura,human whipworm,nematodes,Eukaryota,hypothetical protein TTRE_0000921701 [Trichuri...
2846,9.000000e+00,4,cluster_5,gb|ELU05450.1|,283909,Capitella teleta,Capitella teleta,segmented worms,Eukaryota,"hypothetical protein CAPTEDRAFT_103064, partia..."
2847,9.100000e+00,15,cluster_5,ref|XP_022672559.1|,109461,Varroa destructor,honeybee mite,mites & ticks,Eukaryota,uncharacterized protein LOC111255159 [Varroa d...

### overlap between blast and minimap2 algae clusters

In [234]:
merge_df = pd.merge(pysam_df, blast_df, 'left', 'cluster')
merge_df['both_true'] = [x==True and y==True for x,y in zip(merge_df['algae_x'],merge_df['algae_y'])]
merge_df['any_true'] = [x==True or y==True for x,y in zip(merge_df['algae_x'],merge_df['algae_y'])]

merge_df[merge_df['both_true'] == True]

,cluster,ref,algae_x,blast_name,count,algae_y,both_true,any_true
818,cluster_18586,Tetraselmis_0004,True,green algae,2.0,True,True,True
841,cluster_5766,Tetraselmis_0072,True,green algae,12.0,True,True,True
859,cluster_18586,Tetraselmis_0099,True,green algae,2.0,True,True,True
943,cluster_4233,Tetraselmis_0296,True,green algae,12.0,True,True,True
977,cluster_7202,Tetraselmis_0388,True,green algae,4.0,True,True,True
...,...,...,...,...,...,...,...,...
2632,cluster_6069,Tetraselmis_3175,True,green algae,12.0,True,True,True
2659,cluster_5817,Tetraselmis_3236,True,green algae,5.0,True,True,True
2731,cluster_4639,Tetraselmis_3457,True,green algae,12.0,True,True,True
2733,cluster_12665,Tetraselmis_3459,True,green algae,8.0,True,True,True
2736,cluster_14602,Tetraselmis_3475,True,green algae,12.0,True,True,True

### trim transcriptome using union of blast and minimap2

In [235]:
fastaf = '/mnt/ibm_lg/daniel_le/data/acoel/test_rattle/cns/transcriptome_10plus.fa'
trimmedfa = '/mnt/ibm_lg/daniel_le/data/acoel/test_rattle/cns/transcriptome_10plus_omitAlgae.fa'

with open(trimmedfa, 'w') as fout:
    with open(fastaf, 'r') as fin:
        line_counter = 1
        entry_dict = {}
        
        for line in fin:    
            position = line_counter % 2
            entry_dict[position] = line.strip()
            if position == 0:
                header = entry_dict.get(1)
                header_split = header.split()
                cluster_id = header_split[0][1:]
                seq = entry_dict.get(0)       
                if not cluster_id in merge_df[merge_df['any_true'] == True]['cluster'].tolist():
                    fout.write(header + '\n' + seq + '\n')

            line_counter += 1

### annotate based on BLAST hits

In [250]:
blast_in = '/mnt/ibm_lg/daniel_le/data/acoel/test_rattle/blast/blast_transcriptome_10plus.out'
blast_df = pd.read_csv(blast_in, delimiter='\t', header = None)
blast_df.columns = ['evalue','qcov','cluster','ssid', 'taxid', 'sci_name', 'common_name', 'blast_name', 'kingdom', 'stitle']

# blast_df = (pd.DataFrame(blast_df.groupby('cluster')['blast_name'].value_counts())
#       .rename(columns = {'blast_name':'count'})
#       .reset_index()
#       .sort_values('count', ascending=False)
#       .groupby('cluster')
#       .head(1)
#      )
blast_df.head()['stitle'].tolist()

['Drosophila yakuba uncharacterized protein, transcript variant A (Dyak\\GE20585), mRNA',
 'Drosophila yakuba uncharacterized protein, transcript variant H (Dyak\\GE20585), mRNA',
 'Drosophila yakuba uncharacterized protein, transcript variant G (Dyak\\GE20585), mRNA',
 'Drosophila yakuba uncharacterized protein, transcript variant F (Dyak\\GE20585), mRNA',
 'Drosophila yakuba uncharacterized protein, transcript variant E (Dyak\\GE20585), mRNA']

### correct transcriptome by trimming based on coverage

In [284]:
bamfile = pysam.AlignmentFile('/mnt/ibm_lg/daniel_le/data/acoel/test_minimap2/raw_read_aln/OligodT_ISPCR_Cell_Barcode_4_UMI.sorted.bam', "rb" )
itr = bamfile.pileup(reference="cluster_19959", ignore_orphans=False)
cov = np.fromiter([c.n for c in itr], int)
itr = bamfile.pileup(reference="cluster_19959", ignore_orphans=False)
pos = np.fromiter([c.pos for c in itr], int)

array([ 13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519,
       520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532,
       533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
       546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558,
       559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571,
       572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584,
       585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597,
       598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610,
       611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623,
       624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636,
       637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649,
       650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662,
       663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675,
       676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688,
       689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701,
       702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714,
       715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727,
       728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740,
       741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753,
       754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766,
       767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779,
       780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792,
       793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805,
       806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818,
       819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831,
       832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844,
       845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857,
       858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870,
       871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883,
       884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896,
       897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909,
       910, 911, 912, 913])

In [283]:
x.pos

23

In [258]:
fafile = pysam.FastaFile('/mnt/ibm_lg/daniel_le/data/acoel/test_rattle/cns/transcriptome_10plus.fa')
scaffold = fafile.fetch('cluster_19959')
len(scaffold)

921