In [5]:
import pandas as pd
import os

# Read in BSC files
- Check column names
- Hard-code column names

In [16]:
outfn = 'DL20181106_bsc_metadata.csv'
wkdir = '/home/ubuntu/data/DL20181011_melanocyte_test_data'
s3dir = 'daniel.le-work/MEL_project'

bsc_dir = '/home/ubuntu/data/DL20181011_melanocyte_test_data/bsc_data'
bsc_files = os.listdir('{}/'.format(bsc_dir))

# check colnames of uniformity
col_df = pd.DataFrame()
for file in bsc_files:
    fn = '{}/{}'.format(bsc_dir, file)
    col_df[file] = pd.read_csv(fn).columns

col_df.apply(lambda x: all(val==x[0] for val in x), axis=1)
col_df.iloc[8,:] # anomaly detected = B003063_Index.csv

# requires hard-coding column names
colnames = ['time','fsc_a','fsc_h','fsc_w','bsc_a','bsc_h','bsc_w',
            'dapi','alpha6','ckit','cd11','well','plate_barcode']
compiled_df = pd.DataFrame()
for idx,file in enumerate(bsc_files):
    fn = '{}/{}'.format(bsc_dir, file)
    plate_id = file.split('_')[0]
    bsc_df = pd.read_csv(fn)
    bsc_df['plate_barcode'] = plate_id
        
    # update colnames
    bsc_df.columns = colnames
    # compile sub dfs
    compiled_df = compiled_df.append(bsc_df)

compiled_df.to_csv('{}/{}'.format(wkdir, outfn), index=False)
! aws s3 cp --quiet {wkdir}/{outfn} s3://{s3dir}/{outfn}
    
compiled_df.head()

,time,fsc_a,fsc_h,fsc_w,bsc_a,bsc_h,bsc_w,dapi,alpha6,ckit,cd11,well,plate_barcode
0,3.846263,392996.4,177576.0,318,275109.8,109865.3,318,-275.88400,235.981,2722.025,-2967.673,A1,B002343
1,12.104020,578392.6,200064.5,353,695415.4,228267.2,353,-65.14919,-885.629,3651.386,-3261.060,A2,B002343
2,13.445820,278711.2,151095.8,258,260292.9,136240.2,258,-3123.90500,17940.280,-5768.457,-6643.717,A3,B002343
3,14.595500,316287.6,129585.1,304,344135.0,152959.5,304,-10613.69000,59219.490,-18816.210,-22021.000,A4,B002343
4,15.705340,453096.6,242176.5,310,565363.1,287073.9,310,-7664.70600,42735.820,-12169.750,-17276.970,A5,B002343